# Ignore all .cdf files
*.cdf

# Ignore the folder "paper_v1" because outdated
paper_v1/

# Ignore all .pdfs also
*.pdf


# Ignore extra data
final_data/earth_jup/phoebe_results/extra_runs/
final_data/earth_sat/phoebe_results/extra_runs/



